In [2]:
import pandas as pd
import numpy as np
import joblib

In [7]:
def manage_data(filename, df=pd.DataFrame(), action=['store','load']):

    path = f'D:\DOCS\my_workspace\projects_git\mp_nba_analysis\data\dataframes\{filename}.pkl'

    if action == 'store':
        if df.empty:
            print('You must pass a Dataframe to be stored.')
        else:
            joblib.dump(df, path)

    elif action == 'load':
        df = joblib.load(path)
        return df

In [8]:
df = manage_data(filename='leaguedash',action='load')

In [9]:
df.head()

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,PLAYER_HEIGHT,PLAYER_HEIGHT_INCHES,PLAYER_WEIGHT,COLLEGE,COUNTRY,...,PTS,REB,AST,NET_RATING,OREB_PCT,DREB_PCT,USG_PCT,TS_PCT,AST_PCT,SEASON
0,920,A.C. Green,1.610613e+09,DAL,33.0,6-9,81.0,225,Oregon State,USA,...,597,656,69,-7.4,0.089,0.184,0.118,0.523,0.045,1996-97
1,761,Matt Geiger,1.610613e+09,CHH,27.0,7-1,85.0,245,Georgia Tech,USA,...,437,258,38,1.2,0.106,0.158,0.210,0.538,0.065,1996-97
2,900,Matt Fish,1.610613e+09,MIA,27.0,6-11,83.0,235,North Carolina-Wilmington,USA,...,2,5,0,-35.9,0.100,0.267,0.192,0.333,0.000,1996-97
3,672,Matt Bullard,1.610613e+09,HOU,30.0,6-10,82.0,235,Iowa,USA,...,320,117,67,0.8,0.014,0.101,0.147,0.535,0.099,1996-97
4,55,Marty Conlon,1.610613e+09,BOS,29.0,6-11,83.0,245,Providence,USA,...,574,323,104,-7.5,0.074,0.133,0.164,0.542,0.101,1996-97

In [ ]:
df.shape